 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            {% if post.embed %}
                          <div style="height: 450px; width: 450px; margin-bottom: 25px" class="center-block">
                            <iframe width="100%" height="100%" scrolling="no" frameborder="no" src="{{ post.embed }}">
                            </iframe>
                          </div>
                            {% else %}
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            {% endif %}
                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details">
                                <li>
                                </li>
                                <li>Date:
                                    <strong>{{ post.project-date }}</strong>
                                </li>
                                <li>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <ul class="list-inline social-buttons">
                            {% for network in post.social %}
                            <li><a target="_blank" href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-12">
                      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
